@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

html {
    font-family: "Poppins", sans-serif;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: black;
    background-image: url("Resources/BackgroundHtml2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

#loadingBarContainer {
    display: none;
    height: 0px;
    width: 50%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-top: 10px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition:
        height 0.25s ease-out,
        opacity 0.5s ease-in-out;
    text-align: center;
    overflow: hidden;
}

#loadingText {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

#loadingBar {
    width: 0%;
    height: 20px;
    background-color: #006904;
    text-align: center;
    line-height: 20px;
    color: white;
    font-weight: bold;
    transition:
        width 0.05s linear,
        height 0.25s ease-out;
    position: relative;
}

@media (max-width: 768px) {
    #loadingBarContainer {
        width: 50%;
        left: 5%;
        transform: none;
    }
}

@media (min-width: 769px) {
    #loadingBarContainer {
        width: 75%;
        left: 0;
        transform: none;
    }
}

.errorLogging {
    display: none;
    color: white;
    padding: 10px;
    margin: 5px;
    width: fit-content;
    text-align: left;
    bottom: 5;
    left: 5;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    opacity: 1;
    animation: fadein 0.5s forwards;
}

#errorContainer .errorLogging a {
    color: #00bfff;
    text-decoration: underline;
}

#errorContainer .errorLogging a:hover {
    color: #9adaff;
    text-decoration: underline;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#registerForm,
#loginForm {
    margin: 20px 0;
}

#startButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: #520047;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(146, 0, 190, 0.623);
    transition: box-shadow 0.5s ease;
}

button {
    padding: 12px 22px;
    display: inline-block;
    margin: 5px;
    background-color: #520047;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(146, 0, 190, 0.623);
    transition: box-shadow 0.3s ease;
}

#togglePauseMBL {
    padding: 16px 34px;
    display: inline-block;
    margin: 5px;
    background-color: #520047;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(146, 0, 190, 0.623);
    transition: box-shadow 0.3s ease;
}

#startButton:hover,
button:hover {
    box-shadow: 0 0 10px rgba(175, 0, 228, 0.74);
    transition: box-shadow 0.3s ease;
}

button:disabled,
#startButton:disabled,
#songSelector:disabled {
    background-color: rgba(128, 128, 128, 0.466);
    cursor: not-allowed;
}

#keybindsButton i {
    transition: transform 0.3s ease;
}

#keybindsButton:hover i {
    transform: rotate(90deg) scale(1.25);
}

button i {
    transition: transform 0.3s ease;
}

button:hover i {
    transform: scale(1.25);
}

canvas {
    display: none;
    margin: 0 auto;
    background-image: url("Resources/BeatzBannerMBL.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    backdrop-filter: blur(0px);
    transition:
        backdrop-filter ease 0.75s,
        transform 0.1s;
}

#orientationMessage {
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 50%;
    height: 50%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
}

.gradient-background {
    position: relative;
    width: 1280px;
    height: 720px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.8));
    display: flex;
    align-items: center;
    justify-content: center;
}

.unsupported-message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 2vh;
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}

.pop-up-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 100px;
    top: 5vh;
    width: 40%;
    max-height: 90vh;
    overflow: auto;
    font-size: 7px;
    background-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}

.keyword-description {
    display: block;
    margin-bottom: 3px;
}

#openSongListBTN {
    font-size: 16px;
    width: 175px;
    height: 50px;
}

#openSongListBTN i {
    margin-right: 2px;
}

#songListModal {
    overflow: hidden;
}

#songListModal .modal-content {
    max-height: 85vh;
    overflow: hidden;
}

#songListModal #songList {
    max-height: 50vh;
    overflow-y: auto;
}

.most-recent-button {
    display: block;
    width: 60%;
    padding: 10px 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(114, 114, 114, 0.719);
    transition:
        box-shadow 0.3s ease,
        padding 0.3s ease;
}

.most-recent-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(221, 221, 221, 0.623);
    transition: box-shadow 0.3s ease;
}

.song-button {
    display: block;
    font-family: Arial, sans-serif;
    width: 90%;
    padding: 10px 12px;
    margin: 4px auto;
    margin-bottom: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(114, 114, 114, 0.719);
    transition:
        box-shadow 0.3s ease,
        padding 0.3s ease;
}

.song-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(221, 221, 221, 0.623);
    transition: box-shadow 0.3s ease;
}

#songListModal input[type="text"] {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    width: 75%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(114, 114, 114, 0.719);
    text-align: center;
    transition: box-shadow 0.3s ease;
}

#songListModal input[type="text"]::placeholder {
    color: rgb(163, 163, 163);
    text-align: center;
}

#songListModal input[type="text"]:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(248, 248, 248, 0.623);
    transition: box-shadow 0.3s ease;
}

#songListModal input[type="text"]:hover {
    box-shadow: 0 0 10px rgba(221, 221, 221, 0.623);
    transition: box-shadow 0.3s ease;
}

.song-list-container {
    max-height: 400px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px auto;
    width: 95%;
}

#songCoverImage {
    width: 250px;
    height: 250px;
}

#selectedSongModal .modal-content {
    font-size: 15px;
}

#noResultsTXT {
    margin-top: 10px;
    font-size: 20px;
    color: gray;
}

#resultsForSearch {
    font-size: 16px;
}

#presetModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}

.modal-content {
    background-color: #0000006c;
    margin: 8px auto;
    padding: 15px;
    border: 3px solid #ffffff;
    border-radius: 15px;
    position: relative;
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 14px;
    backdrop-filter: blur(8px);
}

.keybind-button {
    float: left;
    color: #ffffff;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background: none;
    box-shadow: 0 0px #dfdfdf3a;
    transition:
        color 0.3s ease,
        transform 0.3s ease;
}

.undo-keybinds,
.redo-keybinds {
    margin-right: 5px;
}

.keybind-button:hover {
    color: rgb(255, 86, 86);
    text-decoration: none;
    cursor: pointer;
    transition:
        color 0.2s ease,
        transform 0.2s ease;
}

.reset-keybinds:hover {
    transform: rotate(360deg);
}

.undo-keybinds:hover {
    transform: rotate(-360deg);
}

.redo-keybinds:hover {
    transform: rotate(360deg);
}

#saveSettingsBtn {
    background-color: #2222223f;
    box-shadow: 0 0 5px rgba(111, 0, 145, 0.74);
    transition: box-shadow 0.3s ease;
}

#saveSettingsBtn:hover {
    box-shadow: 0 0 5px rgba(175, 0, 228, 0.74);
    transition: box-shadow 0.3s ease;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 24px;
    font-weight: bold;
    transition:
        color 0.3s ease,
        transform 0.3s ease;
}

.close:hover {
    color: rgb(255, 86, 86);
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.25);
    transition:
        color 0.2s ease,
        transform 0.3s ease;
}

#keywordListButton {
    float: left;
    color: #ffffff;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background: none;
    box-shadow: 0 0px #dfdfdf3a;
    transition:
        color 0.3s ease,
        transform 0.3s ease;
}

#keywordListButton:hover {
    color: rgb(86, 255, 123);
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.25);
    transition:
        color 0.2s ease,
        transform 0.3s ease;
}

#songSelector {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin: 1px 0;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(175, 0, 228, 0.74);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

#songSelector:hover {
    box-shadow: 0 0 20px rgba(175, 0, 228, 0.74);
    transition: box-shadow 0.3s ease;
}

#songSelector:focus {
    border-color: #ea00ff;
    outline: none;
    box-shadow: 0 0 10px rgba(183, 0, 255, 0.753);
}

#songSelector option {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
}

#songSelector option:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

#songSelector option:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.switch-modal {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.switch-left {
    left: 10px;
}

.switch-right {
    right: 10px;
}

.shared-form input[type="text"],
.shared-form input[type="number"],
.shared-form select {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 8px;
    margin: 1px 10px;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(114, 114, 114, 0.719);
    transition:
        box-shadow 0.3s ease,
        padding ease 0.3s;
}

.shared-form input[type="text"]::placeholder,
.shared-form input[type="number"]::placeholder {
    color: rgb(163, 163, 163);
}

.shared-form input[type="text"]:focus,
.shared-form input[type="number"]:focus,
.shared-form select:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(248, 248, 248, 0.623);
    transition:
        box-shadow 0.3s ease,
        padding ease 0.3s;
}

.shared-form input[type="text"]:hover,
.shared-form input[type="number"]:hover,
.shared-form select:hover {
    box-shadow: 0 0 10px rgba(221, 221, 221, 0.623);
    padding: 8px 12px;
    transition:
        box-shadow 0.3s ease,
        padding ease 0.3s;
}

.shared-form select {
    margin: 1px 0;
}

.shared-form select option {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
}

.shared-form select option:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.volume-control {
    margin: 20px 0;
    color: #ea00ff;
}

.volume-control label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    color: white;
}

.volume-control input[type="range"] {
    width: 50%;
    margin-bottom: 5px;
    box-shadow: 0 0 0px rgba(160, 160, 160, 0);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}
